// Common styles of the project

html, body {
    height: 100%;
}

.page {
    
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

a, button {
	outline: 0;
}

ul, p {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all .35s ease;
}

.page__buffer {
    height: 50px;
}

.inner {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
}

.footer-socials__link svg:hover {
	fill: #eee;
}