// File for scss-vars.
// For example: main colors, paddings and so on.



$green: #52cc7a;
$yellow: #ffcc00;
$dark-grey: #d0dade;
$grey: #f8f8f8;
$black: #292a30;
$dark-blue: #172048;


$Lato-Semibold: 'Lato-Semibold', Helvetica, Arial, sans-serif;
$Lato-Black: 'Lato-Black', Helvetica, Arial, sans-serif;
$Lato-Regular: 'Lato', Helvetica, Arial, sans-serif;
$Lato-Bold: 'Lato-Bold', Helvetica, Arial, sans-serif;
$Lato-Medium: 'Lato-Medium', Helvetica, Arial, sans-serif;
$Merel-Black: 'Merel-Black', Helvetica, Arial, sans-serif;
$Merel-Regular: 'Merel-Regular', Helvetica, Arial, sans-serif;
$Kelson-Sans: 'KelsonSans-LightRU', Helvetica, Arial, sans-serif;
$Minion: 'MinionPro-Regular', Helvetica, Arial, sans-serif;
$Poppins: 'Poppins-Medium', Helvetica, Arial, sans-serif;
// $Lato: 'Lato', sans-serif;