
@font-face {
  font-family: 'KelsonSans-LightRU';
  src: url('KelsonSans-LightRU.eot?#iefix') format('embedded-opentype'),  url('KelsonSans-LightRU.otf')  format('opentype'),
	     url('KelsonSans-LightRU.woff') format('woff'), url('KelsonSans-LightRU.ttf')  format('truetype'), url('KelsonSans-LightRU.svg#KelsonSans-LightRU') format('svg');
  font-weight: normal;
  font-style: normal;
}
